---
/*STYLES*/
import './OrganicDivider.css'
---

<div class="organic-divider active">
    <div class="divider-shape">
        <div class="divider-inner">
                    <svg width="100%" height="100%" viewBox="0 0 800 100">
                        <path class="wave-path" stroke="#b52433" d="M0,50 C100,20 200,80 300,50 C400,20 500,80 600,50 C700,20 800,80 800,50"></path>
                    </svg>
        </div>
        <div class="divider-text">from earth to table</div>
    </div>
</div>