---
import './TsukiFaq.css'
---

<div class="questions-container">
    <div class="questions-title">
        <h4>OTP Questios</h4>
    </div>
        <div class="question">
            <button>
                <span>Something Tsukiko dislikes about Hao?</span>
            </button>
            <p>The wall he imposed between himself and others. No matter what Tsukiko did, in the end, that same wall was between them too until Yoh make his heart change.</p>
        </div>

        <div class="question">
            <button>
                <span>What would be their theme song?</span>
            </button>
            <p><a href="https://youtu.be/diZFHUXe7cw?si=DH359cWTGo6sT7rA" target="_blank">My Dear — L'Arc~en~Ciel</a></p>
        </div>

        <div class="question">
            <button>
                <span>What do they do when they're away from each other?</span>
            </button>
            <p>Hao and Tsukiko have a tendency to keep an eye on each other. Specially Hao since Tsukiko has a special ability to get into troubles easily (even when she tries so hard to avoid it); once they locate each other position they patiently wait a little before reaching for one another.</p>
        </div>

        <div class="question">
            <button>
                <span>Who kisses the hardest?</span>
            </button>
            <p>Both. They have a tendency to engage in stupid, non-serious, competitions between; always trying to catch up with the other. It's their way to have fun.</p>
        </div>

        <div class="question">
            <button>
                <span>Who remembers what the other one always order at a restaurant?</span>
            </button>
            <p>Hao. Tsukiko is a lost cause when it comes to remember small details. Hao remembers too well for her linking.</p>
        </div>

        <div class="question">
            <button>
                <span>Who comes up with cheesy pick up lines?</span>
            </button>
            <p>Tsukiko. She even mix them with puns; mostly does it because Hao finds it ridiculous, and she likes to annoying him in lightly ways to her personal fun.</p>
        </div>

        <div class="question">
            <button>
                <span>Who is the most affectionate?</span>
            </button>
            <p>Tsukiko, since their childhood. In general she loves hugs and physical contact with everyone she loves. He's her special one, of course.</p>
        </div>

        <div class="question">
            <button>
                <span>Who reaches for the other's hand first?</span>
            </button>
            <p>Hao. He knows Tsukiko loves physical contact so besides letting her treat him like a teddy bear; he takes her hand constantly. (Specially when she's too close to doing something risky/stupid.)</p>
        </div>

        <div class="question">
            <button>
                <span>One headcanon about this OTP that breaks your heart?</span>
            </button>
            <p>They could have had a different life. No Shaman King, no reincarnation cycles. Just them, freely wandering the world, maybe having a family; that was the idea. Sadly, Tsukiko dies before it could happen.</p>
        </div>
    </div>

    <script src="./faq.js"></script>