.questions-container{
    width: 70%;
    margin: auto;
    padding: 5rem;
}

.question{
    border-bottom: 1px solid var(--secondary-color-tsuki);
}
.question button {
    background: var(--primary-color-tsuki);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}

.question p{
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
    color: var(--dark-color-tsuki);
}

.question a {
    color: var(--primary-color-tsuki);
}

.d-arrow{
    transition: transform 0.5s ease-in ;
    color: var(--white);
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-arrow.rotate{
    transform: rotate(180deg);
}

/* Responsive  */
@media (max-width: 800px) {
    .questions-container {
        width: 100%;
        padding: 5rem 2rem;
    }
}