.alex__container {
    background: var(--dark-color-alex);
    min-height: 100vh;
    background-image: 
    url("https://www.transparenttextures.com/patterns/broken-noise.png");
  background-blend-mode: overlay;
}

.header__background {
    width: 100%;
    height: 750px;
    background-position: center;
    object-fit: cover;
    mask-image: linear-gradient(
        black 60%, 
        transparent
    );
}

.header__text {
  position: absolute;
  top: 75%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.alex__title {
    font-family: 'Metamorphous', serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    text-shadow:
        1px 1px 2px var(--light-color-alex),
         0 0 1em var(--light-color-alex),
        0 0 0.2em var(--light-color-alex);
}

.alex__subtitle {
    font-family: 'Poiret One', system-ui;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: var(--dark-color-alex);
    padding: 1rem;
    color: var(--light-color-alex);
}

.alex__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--light-color-alex);
    width: 60px;
    height: 2px;
    margin-left: -40px;
    margin-right: 5px;
}

.content {
    margin-bottom: 2rem;
    color: var(--light-color-alex)
}

.italic__text {
    color: var(--accent-color);
}

.header__cite {
    background: var(--accent-color);
    padding: .8rem;
    margin-top: 2rem;
    color: var(--light-green);
    letter-spacing: 2px;
}

.header__cite a {
    color: var(--light-green);
}

.alex__introContainer {
    padding: 5rem 3rem;
    background: var(--dark-color-alex);
    color: var(--light-color-alex);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alex__introText {
    width: 50%;
    text-align: center;
}

.alex__introImg {
    margin: 0 2rem 2rem 2rem;
}

.alex__introImg img {
    width: 30%;
    margin: auto;
}

.alex__personality {
    background: var(--light-color-alex);
    padding: 5rem;
}

.personality_content {
    width: 60%;
    margin: auto;
    column-count: 2;
    column-gap: 2rem;
    column-rule: var(--primary-color-alex) 1px solid;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 2rem;
}


/* Responsive  */
@media (max-width: 800px) {
    .header__text {
        position: relative;
        top: 0%;
        left: 52%;
        width: 100%;
        margin-bottom: -10rem;
    }

    .header__background {
        height: 455px;
    }

    .alex__introContainer {
        padding: 2rem;
    }

    .alex__introImg img {
        width: 100%;
    }

    .alex__introText {
        width: 100%;
    }

    .personality_content {
        width: 100%;
        column-count: 1;
    }

    .alex__personality {
        padding: 2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
      .header__text {
        top: 39%;
    }
}