.container {
    background: #dcd8b3;
    min-height: 100vh;
    background-image: 
    url("https://www.transparenttextures.com/patterns/broken-noise.png");
    background-blend-mode: overlay;
}

.contact__background {
    width: 100%;
    height: 650px;
    background-position: center;
    object-fit: cover;
    mask-image: linear-gradient(
        black 80%, 
        transparent
    );
}

.contact__text {
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.contact__title {
    font-family: 'Metamorphous', serif;
    text-transform: lowercase;
    letter-spacing: 3px;
}

.underline_text {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
}

.contact__subtitle {
    font-family: 'Poiret One', system-ui;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--text-color);
}

.contact__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--dark-color);
    width: 60px;
    height: 2px;
    margin-left: -40px;
    margin-right: 5px;
}

.content {
    margin-bottom: 2rem;
}

.italic__text {
    color: var(--accent-color);
}

.contact__cite {
    background: var(--accent-color);
    padding: .8rem;
    margin-top: 2rem;
    color: var(--light-green);
    letter-spacing: 2px;
}

.contact__cite a {
    color: var(--light-green);
}

.author__socials {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.social__icons {
    color: var(--text-color);
    font-size: 1.8rem;
}

/* Responsive  */
@media (max-width: 900px) {
    .contact__text {
        position: relative;
        top: 0%;
        left: 52%;
        width: 100%;
        margin-bottom: -10rem;
    }

    .contact__background {
        height: 455px;
    }

    .author__socials {
        margin-top: 2rem;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
      .contact__text {
        top: 34%;
    }
}