/**GENERAL STYLES**/

:root {
    --general-bg: #a4b7ac;
    --accent-color: #d6332a;
    --dark-color: #5a6878;
    --light-green: #c4d6be;
    
    --primary-color-alex: #b52433;
    --dark-color-alex: #21243b;
    --light-color-alex: #dad2b4;
    --darker-light-alex: #b4a282;
    --text-color: #1e1d1b;
    --white: #fff;
  }

  html {
    box-sizing: border-box;
  }

 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }

 body {
    padding: 0;
    margin: 0;
    font-family: "Georgia", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 100%;
    line-height: 1.65;
    background-color: var(--white);
 }

 img {
   display: block;
   max-width: 100%;
   height: auto;
 }

 p {
   margin: 0 0 1rem;
 }

 a {
  text-decoration: none;
 }