.tsukiko__container {
    background: var(--light-pink);
    min-height: 100vh;
    background-image: 
    url("https://www.transparenttextures.com/patterns/broken-noise.png");
    background-blend-mode: overlay;
    color: var(--dark-color-tsuki);
}

.header__background {
    width: 100%;
    height: 750px;
    background-position: center;
    object-fit: cover;
    mask-image: linear-gradient(
        black 60%, 
        transparent
    );
}

.header__text {
  position: absolute;
  top: 75%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.tsuki__title {
    font-family: 'Metamorphous', serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: var(--dark-color-tsuki);
}

.tsuki__subtitle {
    font-family: 'Poiret One', system-ui;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: var(--primary-color-tsuki);
    padding: 1rem;
    color: var(--light-pink);
}

.tsuki__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--dark-color-tsuki);
    width: 60px;
    height: 2px;
    margin-left: -40px;
    margin-right: 5px;
}

.content {
    margin-bottom: 2rem;
    color: var(--dark-color-tsuki);
}

.italic__text {
    color: var(--accent-color);
}

.header__cite {
    background: var(--accent-color);
    padding: .8rem;
    margin-top: 2rem;
    color: var(--light-green);
    letter-spacing: 2px;
}

.header__cite a {
    color: var(--light-green);
}

.flag__Tsuki {
    padding: 1rem;
    text-align: center;
    background: var(--light-pink);
}

.flag__Tsuki p {
    margin: 0;
    font-family: 'Poiret One', system-ui;
    color: var(--secondary-color-tsuki23);
    font-size: 1.2rem;
    font-weight: 800;
}

.intro__Tsuki {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 2rem;
}

.left__column, .right__columns {
    padding: 2rem;
}

.left__column, .right__columns, .center__column {
    width: 33.33%;
}

.left__column h2, .right__columns h3 {
    font-family: 'Metamorphous', serif;
    font-size: 2rem;
    color: var(--primary-color-tsuki);
    margin: 0;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    margin-bottom: 1rem;
}

.right__columns {
    text-align: right;
}

.center__column h3 {
    font-family: 'Poiret One', system-ui;
    font-size: .9rem;
    background: var(--secondary-color-tsuki);
    padding: .8rem;
    color: var(--light-pink);
    text-align: center;
}

.center__column img {
    border-radius: 50%;
    width: 85%;
    height: 350px;
    object-fit: cover;
    margin: auto;
    border: 2px solid var(--primary-color-tsuki);
    padding: 1rem;
}

/* Responsive  */
@media (max-width: 800px) {
    .header__text {
        position: relative;
        top: 0%;
        left: 52%;
        width: 100%;
        margin-bottom: -10rem;
    }

    .header__background {
        height: 455px;
    }

    .intro__Tsuki {
        flex-direction: column;
        width: 100%;
    }

    .left__column, .right__columns, .center__column {
        width: 100%;
    }

    .right__columns {
        text-align: left;
    }

    .center__column img {
        width: 100%;
    }
}

@media (min-width: 1024px) and (max-width: 1600px) {
      .header__text {
        top: 39%;
    }
}