.tsukiko__container {
    background: var(--light-pink);
    min-height: 100vh;
    color: var(--dark-color-tsuki);
    /*background-image: 
    url("https://www.transparenttextures.com/patterns/broken-noise.png");
    background-blend-mode: overlay;*/
}

.header__background {
    width: 100%;
    height: 750px;
    background-position: center;
    object-fit: cover;
}

.header__text {
  position: absolute;
  top: 75%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.tsuki__title {
    font-family: 'Metamorphous', serif;
    text-transform: lowercase;
    letter-spacing: 3px;
    color: var(--dark-color-tsuki);
}

.tsuki__subtitle {
    font-family: 'Poiret One', system-ui;
    font-size: .5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: var(--primary-color-tsuki);
    padding: 1rem;
    color: var(--light-pink);
}

.tsuki__title::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: var(--dark-color-tsuki);
    width: 60px;
    height: 2px;
    margin-left: -40px;
    margin-right: 5px;
}

.content {
    margin-bottom: 2rem;
    color: var(--dark-color-tsuki);
}

.italic__text {
    color: var(--accent-color);
}

.header__cite {
    background: var(--accent-color);
    padding: .8rem;
    margin-top: 2rem;
    color: var(--light-green);
    letter-spacing: 2px;
}

.header__cite a {
    color: var(--light-green);
}

.flag__Tsuki {
    padding: 1rem;
    text-align: center;
    background: var(--dark-color-tsuki);
}

.flag__Tsuki p {
    margin: 0;
    font-family: 'Poiret One', system-ui;
    color: var(--primary-color-tsuki);
    font-size: 1.2rem;
    font-weight: 800;
}

.intro__Tsuki {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 2rem;
}

.left__column, .right__columns {
    padding: 2rem;
}

.left__column, .right__columns, .center__column {
    width: 33.33%;
}

.left__column h2, .right__columns h3 {
    font-family: 'Metamorphous', serif;
    font-size: 2rem;
    color: var(--primary-color-tsuki);
    margin: 0;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
    margin-bottom: 1rem;
}

.right__columns {
    text-align: right;
}

.center__column h3 {
    font-family: 'Poiret One', system-ui;
    font-size: .9rem;
    background: var(--secondary-color-tsuki);
    padding: .8rem;
    color: var(--light-pink);
    text-align: center;
}

.center__column img {
    border-radius: 50%;
    width: 85%;
    height: 350px;
    object-fit: cover;
    margin: auto;
    border: 2px solid var(--primary-color-tsuki);
    padding: 1rem;
}

.past {
    padding: 9rem;
    background-image: url(/src/assets/webbg2.png);
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
}

.past__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: 3rem;
}

.past__img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-color-tsuki);
    padding: 1rem;
}

.present__img img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--light-pink);
    padding: 1rem;
}

.past__text h3 {
    font-family: 'Metamorphous', serif;
    font-size: 2rem;
    color: var(--primary-color-tsuki);
    margin: 0;
    text-align: center;
}

.present__text h3 {
    font-family: 'Metamorphous', serif;
    font-size: 2rem;
    color: var(--light-pink);
    margin: 0;
    text-align: center;
}

.present {
    padding: 9rem;
    background-image: url(/src/assets/webbg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 25%;
}

.present__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
    margin-left: 3rem;
}

.trivia {
    background: var(--dark-color-tsuki);
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;
    background-image: 
    url("https://i.imgur.com/4nXhVmN.png");
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-position: bottom;
    background-size: cover;
}

.trivia__letter h2 {
    color: var(--light-pink);
    font-size: 4rem;
    font-family: 'Metamorphous', serif;
    letter-spacing: .8rem;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-offset: 8px;
}

.trivia__text {
    width: 40%;
    padding: 1rem;
    height: 200px;
    overflow: auto;
    scrollbar-color: var(--primary-color-tsuki) var(--dark-color-tsuki);
    scrollbar-width: thin;
}

.trivia__content {
    color: var(--light-color-alex);
}

.gallery {
  column-count: 3;
  column-gap: 1rem;
  padding: 1rem 4rem 4rem 4rem;
  width: 70%;
  margin: auto;
}

.gallery-image {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
  border-radius: 8px;
  break-inside: avoid;
  object-fit: cover;
}

/* Responsive  */
@media (max-width: 800px) {
    .header__text {
        position: relative;
        top: 0%;
        left: 52%;
        width: 100%;
        margin-bottom: -10rem;
    }

    .header__background {
        height: 455px;
    }

    .intro__Tsuki {
        flex-direction: column;
        width: 100%;
    }

    .left__column, .right__columns, .center__column {
        width: 100%;
    }

    .right__columns {
        text-align: left;
    }

    .center__column img {
        width: 100%;
    }

    .past {
        padding: 7rem 2rem 12rem 2rem;
        background-position: right;
    }

    .present {
        padding: 5rem 2rem;
        background-position: left;
    }

    .past__content, .present__content {
        width: 100%;
        margin: 0 auto;
    }

    .trivia {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    .trivia__text {
        width: 100%;
    }

    .gallery {
       column-count: 2;
       padding: 2rem;
       width: 100%;
    }
    
}

@media (min-width: 1024px) and (max-width: 1600px) {
      .header__text {
        top: 39%;
    }
}