---
/*STYLES*/
import '../styles/Index.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import { Image } from 'astro:assets';
import HeaderImg from '../assets/bigtexture141.png'
---

<Layout>
	<div class="container">
		<div class="header">
			<Image src={HeaderImg} alt="" class="header__background" />
		</div>
		<div class="header__text">
			<blockquote>           
				<h1 class="index__title">Holi</h1>
				<p class="content">
					Lorem ipsum dolor sit amet, <span class="italic__text"><i>consectetur adipiscing elit</i></span>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				</p>
				<cite class="header__cite">Sappho, fragment 147 (transl. by Anne Carson)</cite>
			</blockquote>
		</div>
	</div>
</Layout>