---
/*STYLES*/
import '../styles/Index.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTop from "../components/DividerTop/DividerTop.astro"
import DividerTopDark from "../components/DividerTopDark/DividerTopDark.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import HeaderImg from '../assets/bigtexture141.png'
import AlexIndex from '../assets/AlexIcon-nightshade-intensity-DEFAULT-V1.png'
import TsukiIndex from '../assets/shamanoc5-1-shielded-robust.png'
import AvatarIndex from '../assets/profile-pic.png'

/*ICONS*/
import { Icon } from 'astro-icon/components'
---

<Layout>
	<div class="container">
		<div class="header">
			<Image src={HeaderImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="index__title">pulchra [ .anima ] ✻ imaginarium</h1>
				<h2 class="index__subtitle">Website dedicated to <span class="underline_text">my original characters</span></h2>
				<p class="content">
					Greetings visitor, you have reach <span class="italic__text"><i>the soul hidden inside the imaginarium</i></span>. Each page here will send you to a different world with its own protagonist. 
				</p>
				<cite class="header__cite"><a href="https://windofbloom.com/" target="_blank">© windofbloom</a></cite>
			</blockquote>
		</div>
		<DividerTop />
		<div class="characters">
			<div class="title__container">
				<h2 class="characters__title">
					imaginarium [ .protagonist ]
				</h2>
				<h3 class="character__subtitle">Death cannot harm me</h3>
				<p class="short__text">
					more than you have harmed me, my beloved life. October — Louise Glück.
				</p>
			</div>
			<div class="characters__container">
				<div class="index__alex">
					<Image src={AlexIndex} alt="" class="indexImg" />
					<div class="card__container">
						<h3 class="character__name">
							Alexandrite
						</h3>
						<p class="card__content">The friendly florist in town who hides as a secret a personal mission that will shape the world itself. The lamp chosen to replace God.</p>
						<a href="/alexandrite"><button class="btn">Traverse the fog</button></a>
					</div>
				</div>
				<div class="index__tsukiko">
					<Image src={TsukiIndex} alt="" class="indexImg" />
					<div class="card__container">
						<h3 class="character__name">
							Tsukiko
						</h3>
						<p class="card__content">A wanderer shaman with a nine-tails fox spirit as her companion, her soul has been reincarnated several times, living different cycles until she finds the person her heart yearns for.</p>
						<a href="/tsukiko"><button class="btn">Traverse the fog</button></a>
					</div>
				</div>
			</div>
		</div>
		<DividerTopDark />
		<div class="about__autor">
			<div class="about__content">
				<div class="author__avatar">
					<Image src={AvatarIndex} alt="" class="avatar" />
				</div>
				<div class="author__smallbio">
					<h4 class="author__title">
						Bloom
					</h4>
					<p class="author__content">
						Web designer during office hours. Digital Artist and fan of many things during free time; I love original characters and OC x Canon. I coded this place as a shrine for my original characters and —in the future, their respective worlds.
					</p>
					<div class="author__socials">
						<a href="https://bsky.app/profile/windofbloom.bsky.social" target="_blank"><Icon name="bsky" class={'social__icons'} /></a> 
						<a href="https://www.instagram.com/windofbloom/" target="_blank"><Icon name="instagram" class={'social__icons'} /></a> 
						<a href="https://ko-fi.com/windofbloom" target="_blank"><Icon name="kofi" class={'social__icons'} /></a> 						
					</div>
				</div>
			</div>
		</div>
	</div>
</Layout>