---
/*STYLES*/
import '../styles/Tsukiko.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTopBlue from "../components/DividerTopBlue/DividerTopBlue.astro"
import OrganicDivider from "../components/OrganicDivider/OrganicDivider.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import TsukikoBGImg from '../assets/TsukikoShrineBanner.png'
import AlexProfileImg from '../assets/frame-images1.png'
import Gallery1 from '../assets/Alex2-nightshade-intensity-DEFAULT-V1.png'
import Gallery2 from '../assets/Alex3-nightshade-intensity-DEFAULT-V1.png'
import Gallery3 from '../assets/Alex5-nightshade-intensity-DEFAULT-V1.png'
---

<Layout title="Tsukiko [ .anima ]">
    <div class="tsukiko__container">
        <div class="tsuki__header">
			<Image src={TsukikoBGImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="tsuki__title">Tsukiko [ .anima ]</h1>
				<h2 class="tsuki__subtitle">The sacrificial lamb who decided to replace God</u></h2>
				<p class="content">
					His tragedy began with a bet between <i>God and a conniving man</i>, both very interested in ending their boredom. This lamb wasn't chosen, nor was he born to be the hero of this story; he was simply <i>unlucky</i>. And yet, he chose to play to defeat them in their own rules.
				</p>
			</blockquote>
		</div>
		<DividerTopBlue />
    </div>
</Layout>