---
/*STYLES*/
import '../styles/Tsukiko.css'

/*COMPONETS*/
import Layout from "../layouts/Layout.astro"
import DividerTopPink from "../components/DividerTopPink/DividerTopPink.astro"
import OrganicDivider from "../components/OrganicDivider/OrganicDivider.astro"

/*IMAGES*/
import { Image } from 'astro:assets';
import TsukikoBGImg from '../assets/TsukikoShrineBanner.png'
import TsukiProfileImg from '../assets/haotsukiko8-2-nightshade-intensity-DEFAULT-V1.png'
import Gallery1 from '../assets/Alex2-nightshade-intensity-DEFAULT-V1.png'
import Gallery2 from '../assets/Alex3-nightshade-intensity-DEFAULT-V1.png'
import Gallery3 from '../assets/Alex5-nightshade-intensity-DEFAULT-V1.png'
---

<Layout title="Tsukiko [ .anima ]">
    <div class="tsukiko__container">
        <div class="tsuki__header">
			<Image src={TsukikoBGImg} alt="" class="header__background" />
		</div>
		<div class="header__text fadeIn-animation">
			<blockquote>           
				<h1 class="tsuki__title">Tsukiko [ .anima ]</h1>
				<h2 class="tsuki__subtitle">Many nights ago, a moon fox met a demon child. Death infested the land, but together, the days smelled of freedom.</u></h2>
				<p class="content">
					Born as a means to fulfill the ambitions of a dark sorcerer. Tsukiko, a girl from the moon, was offered to the goddess Inari to protect her, her fate would be changed thanks to the intervention of Asakura Hao
				</p>
			</blockquote>
		</div>
		<DividerTopPink />
		<div class="flag__Tsuki">
			<p>Hey! Tsukiko is my OC in the world of Shaman King. There's <u>OC X CANON</u> here</p>
		</div>
		<div class="intro__Tsuki">
			<div class="left__column">
				<h2>Tsukiko Saitoh</h2>
				<p>A wanderer shaman with a nine-tails fox spirit as her companion, her soul has been reincarnated several times, living different cycles until she finds the person her heart yearns for.</p>
			</div>
			<div class="center__column">
				<Image src={TsukiProfileImg} alt="" />
				<h3>Voice: Haruka Tomatsu (Morgiana - Magi)</h3>
			</div>
			<div class="right__columns">
				<h3>Hao x Tsukiko </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
    </div>
</Layout>