---
/*ICONS*/
import { Icon } from 'astro-icon/components'
---

<footer>
    <div class="footer__conteiner">
        <a href="/">Made with ♥ by windofbloom</a> | <a href="https://github.com/windofbloom" target="_blank">GitHub</a> 
        | <a href="https://ko-fi.com/windofbloom/commissions" target="_blank">Art Comms</a>
    
        <a href="#" class="back-to-top">
            <Icon name="arrow" class={'up__icon'} />
        </a>
    </div>
</footer>