---
/*STYLES*/
import '../styles/Nav.css'
---

<nav class="navbar">
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>

    <ul class="nav__menu">
        <li class="nav__item"> <a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="/Alexandrite" class="nav__link">Alexandrite</a></li>
        <li class="nav__item"><a href="/Tsukiko" class="nav__link">Tsukiko</a></li>
        <li class="nav__item"><a href="/Contact" class="nav__link">Contact</a></li>
    </ul>
</nav>

<script src="../assets/js/scripts.js"></script>